<a href="https://colab.research.google.com/github/RenanSoaresMP/Probabilidades-Amostragens-Estimacoes/blob/main/Projeto2_Estatistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dados = pd.read_csv('dados.csv')

In [ ]:
dados.head()

   UF  Sexo  Idade  Cor  Anos_de_Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

#Problema A

In [ ]:
#número de ensaios = 10
n = 10

#número de eventos que deseja obter sucesso
k = 7

#probabilidade de sucesso
p = 7/10

In [ ]:
#Usando a funão de probabilidade binomial
from scipy.stats import binom

p1 = binom.pmf(k,n,p)
p2 = binom.pmf(k,n,p).round(4)*100

print(f"A probabilidade é de {p2}%")

A probabilidade é de 26.68%

In [ ]:
#Verificando a proporção entre homens e mulheres
proporcao = dados['Sexo'].value_counts(normalize=True).round(2)*100
prop = pd.DataFrame({'Proporção (%)' : proporcao })
prop = prop.rename(index = {0 : 'Masculino', 1 : 'Feminino'}) 
prop

           Proporção (%)
Masculino           69.0
Feminino            31.0

#Problema B

In [ ]:
#A probabilidade desse fato ocorrer foi calculada no ítem A: p1

#Aplicaremos a média de uma distribuição binomial (media = numero de ensaios * probabilidade)

media = 100
n1 = media/p1
n1 = n1.round()

print(f"É necessário selecionar {n1} grupos.")

É necessário selecionar 375.0 grupos.

#Problema C

In [ ]:
#Amostragem aleatória com 200 elementos
dataset = dados.Renda.sample(n = 200, random_state = 101)
dataset

29042     480
62672     250
29973     788
22428    1680
55145    2500
         ...
50497    3400
3668      780
4872     1000
38670    1000
71730     600
Name: Renda, Length: 200, dtype: int64

In [ ]:
#Média da amostra
media = dataset.mean()
media

1964.205

In [ ]:
#Desvio Padrão da amostra
dp = dataset.std()
dp

3139.8855167452157

##Amostra para um nível de confiança de 90%

In [ ]:
#O desvio padrão é conhecido, então usaremos a fórmula: tamanho da amostra = (z*(desvio_padrao/erro))**2
#Obtendo z
from scipy.stats import norm

z = norm.ppf(0.95)
e = 0.1*media
custo = 100

In [ ]:
n = (z*(dp/e))**2
ni = int(n)

print(f"Para um nível de confiança de 90%, a amostra deverá ter {ni} elementos e seu custo será de R${custo*ni},00")

Para um nível de confiança de 90%, a amostra deverá ter 691 elementos e seu custo será de R$69100,00

##Amostra para um nível de confiança de 95%

In [ ]:
z = norm.ppf(0.975)

n = (z*(dp/e))**2
ni = int(n)

print(f"Para um nível de confiança de 95%, a amostra deverá ter {ni} elementos e seu custo será de R${custo*ni},00")

Para um nível de confiança de 95%, a amostra deverá ter 981 elementos e seu custo será de R$98100,00

Intervalo de confiança para um nível de confiança de 95%

In [ ]:
#encontrando sigma
raiz_de_amostras = np.sqrt(ni)
sigma = dp/raiz_de_amostras

intervalo = norm.interval(alpha = 0.95, loc = media, scale = sigma )
intervalo

(1767.7209049801454, 2160.6890950198544)

Ou seja, para essa amostra de 200 elementos, neste intervalo teremos 95% de probabilidade de um elemento escolhido estar compreendido nele.

##Tamanho da amostra utilizando todo o resurso possível (R$150000,00)

In [ ]:
recurso = 150000
custo = 100

n_confianca_95 = recurso/custo
n_confianca_95

1500.0

In [ ]:
z = norm.ppf(.975)
#n = (z*(dp/e))**2
e = z * (dp / np.sqrt(n_confianca_95))
print(f"Utilizando todo o recurso disponível, poderemos fazer {int(n_confianca_95)} entrevistas, e o erro cairá para R${e.round(3)} ")

Utilizando todo o recurso disponível, poderemos fazer 1500 entrevistas, e o erro cairá para R$158.897

##Amostra para um nível de confiança de 99%

In [ ]:
z = norm.ppf(0.995)

n = (z*(dp/e))**2
ni = int(n)

print(f"Para um nível de confiança de 99%, a amostra deverá ter {ni} elementos e seu custo será de R${custo*ni},00")

Para um nível de confiança de 99%, a amostra deverá ter 2590 elementos e seu custo será de R$259000,00

Nota-se que com um nível de confiança de 99%, o custo da pesquisa irá ser maior do que o orçamento, então ela estaria inviabilizada.

##Assumindo um nível de confiança de 95%, quanto a pesquisa custaria ao cliente caso fosse considerada uma margem de erro de apenas 5% em relação a média estimada?

In [ ]:
#novo erro
erro_05 = 0.05*media

print(f"A margem de erro é de R${erro_05} para mais ou para menos")

A margem de erro é de R$98.21025 para mais ou para menos

In [ ]:
z = norm.ppf(.975)
n_confianca_95 = (z * (dp / erro_05)) ** 2
n_confianca_95 = int(n_confianca_95.round())
print(f'Para um nível de confiança de 95% devemos selecionar uma amostra de {n_confianca_95} elementos.')

Para um nível de confiança de 95% devemos selecionar uma amostra de 3927 elementos.